<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>C1</string>
		<key>imageUrl</key>
		<string>https://www.monstersandcritics.com/wp-content/uploads/2020/07/Re-Zero-Rem-wake-up-death.jpg</string>
		<key>info</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>title</key>
				<string>名字</string>
				<key>detail</key>
				<string>レム 雷姆</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>title</key>
				<string>身高</string>
				<key>detail</key>
				<string>154cm</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>title</key>
				<string>狀態</string>
				<key>detail</key>
				<string>沉睡中</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>C2</string>
		<key>imageUrl</key>
		<string>https://www.monstersandcritics.com/wp-content/uploads/2020/07/Re-Zero-Rem-wake-up-death.jpg</string>
		<key>info</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>title</key>
				<string>名字</string>
				<key>detail</key>
				<string>ラム 拉姆</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>title</key>
				<string>身高</string>
				<key>detail</key>
				<string>154cm</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>title</key>
				<string>狀態</string>
				<key>detail</key>
				<string>照顧妹妹中</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>id</key>
		<string>C3</string>
		<key>imageUrl</key>
		<string>https://www.monstersandcritics.com/wp-content/uploads/2020/07/Re-Zero-Rem-wake-up-death.jpg</string>
		<key>info</key>
		<array>
			<dict>
				<key>index</key>
				<integer>1</integer>
				<key>title</key>
				<string>名字</string>
				<key>detail</key>
				<string>ベアトリス 碧翠絲</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>2</integer>
				<key>title</key>
				<string>身高</string>
				<key>detail</key>
				<string>140cm</string>
			</dict>
			<dict>
				<key>index</key>
				<integer>3</integer>
				<key>title</key>
				<string>狀態</string>
				<key>detail</key>
				<string>禁書管理員→昴的契約精靈</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
